<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cupcakes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="cupcakelist">
        <h1>See all the cupcakes!</h1>
        <ul>
            {% for cupcake in cupcakes %}
            <li>{{cupcake.flavor}} {{cupcake.size}} {{cupcake.rating}} 
            <!-- <img class="Cupcake-img" src="{{cupcake.image}}" alt="">--></li>
            {% endfor %}
        </ul>
    </div>

    <div id="addcupcake">
        <h2>Add a new cupcake!</h2>
        <form id="cupcakeform">
            <p>
                <label for="flavor">Enter a Flavor:
                    <input type="text" name="flavor" placeholder="Flavor">
                </label>
            </p>
            <p>
                <label for="size">Enter a Size:
                    <input type="text" name="size" placeholder="Size">
                </label>
            </p>
            <p>
                <label for="rating">Enter a Rating:
                    <input type="text" name="rating" placeholder="Rating">
                </label>
            </p>
            <p>
                <label for="image-url">Enter an Image URL:
                    <input type="URL" name="image-url" placeholder="Image URL">
                </label>
            </p>
            <button id="submit">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <script src="/static/cupcakes.js"></script>

</body>

</html>